<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ULAMEX PV</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <h1>KONSTRUKCJA GRUNTOWA</h1><br>
    <h4>&copy; 2022÷<script>document.write(new Date().getFullYear())</script>
    <a href="mailto:pkpkbud@gmail.com">PKPKBUD</a> dla
    <a href="https://ulamex.com.pl/">ULAMEX</a></h4>
    <p><fieldset style="width:300px">
    <legend>
        Lokalizacja: Polska – do wysokości 300 m n.p.m.<br>
        Strefa obciążenia: <a href="/static/Śnieg.png">śniegiem</a> 1 i 2, <a href="/static/Wiatr.png">wiatrem</a> 1
    </legend>
        <div style="text-align:center">
            <form action="/dwupodporowa"><input type="submit" value="Dwupodporowa »"></form>
        </div><br>
        <div style="text-align:center">
            <form action="/jednopodporowa"><input type="submit" value="Jednopodporowa »"></form>
        </div><br>
        <div style="text-align:center">
            <form action="/dwupodporowa_m"><input type="submit" value="Dwupodporowa (M) »"></form>
        </div>
    </fieldset></p>
    <p><fieldset style="width:300px">
    <legend>Pliki wewnętrzne</legend>
        <form method="POST" style="text-align:center">
            <input type="text" name="username" placeholder="Użytkownik"></input>
            <input type="password" name="password" placeholder="Hasło"></input><br>
            <input type="submit" value="Login »"></input>
        </form>
    </fieldset></p>
</body>
</html>
